/* NewsComponent.css */

/* Style the container div */
.filtered-country{
  margin-top: 20px;
  margin-left: 20px;
  

}

.topHeadLines-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: #333;
}

.article-title{
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: 0 0 10px #333;
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: space-between; 
}

.article-description{
  margin-left: 25px;
}

.otherNews-container{
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: #333;
}

.other-news{
margin-left: 800px;
}

.top-news{
margin-left: 800px;
}


/* Style the headline sections */
h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

/* Style the loading and error messages */
.message {
  font-size: 16px;
  color: #4b4545;
}

/* Style the article list */
ul {
  list-style: none;
  padding: 0;
}

/* Style each article item */
li {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 4px;
}

/* Style article titles */
h3 {
  font-size: 20px;
  margin: 0;
  color: #363535;
}

/* Style article descriptions */
p {
  font-size: 16px;
  color: #555;
}
.login-button, .logOut-button{
  background-color:rgb(194, 191, 191);
  padding-right: 2px;
  margin: 0;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  margin-left: 15px; 
  
  height: 40px;
  width: 55px;
  margin-top: 22px;
  font-size: 9px;
  font-weight: bold;
}
.login-button:hover, .logOut-button:hover {
  background-color: #c6d3e0;
}

.login-button:active, .logOut-button:active {
  background-color: #3b4d64;
}

.profile{
  margin-left: 25px;
  display: flex;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #7595be;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 50px;
  top :-15px;
  height: 50px;
  
  
}

/* Styling for the profile picture container */
.profile-pic-container {
  width: 35px; 
  height: 35px;
  border-radius: 50%; 
  overflow: hidden; 
  border: 2px solid #fff; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
  margin-top: 8px;
  position: relative;
 
}

/* Styling for the profile picture image */
.profile-pic {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
  
}

/* Styling for the profile name */
.profile-name {
  font-size: 12px; 
  font-weight: bold; 
  padding-bottom: 5px;
  margin-left: 25px; 
  left: 25px;
  position: absolute;
  top: 13px;
}

/* Styling for the profile email */
.profile-email {
  font-size: 10px; 
  color: #d4d4d4;
  margin-top: 25px; 
  margin-left: 5px;
  
  
}
.navBar{
  display: flex;
  position: relative;
  margin-left: 20px;
  
  background-color: #4d6d96;
  color: #ccc;
  padding-left: 10px;
  width: 97%;
  border: 2px solid #fff; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 5px;

}
.article-links{
  text-decoration: none;
  color: #8f8787;
}

.newsapp-title{
  color: white;
  margin-left: 800px;

}

/* search bar and button styles */

/* Search Bar Container */

.search-container {
  position: absolute;
  top: 100px;
  right: 25px;
  /* z-index: 1000; */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
}

/* CSS for the search input */
.search-input {
  width: 200px; /* Adjust the width as needed */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* CSS for the search button */
.search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}



/* Pagination styles */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust as needed */
}

.pagination button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

/* Highlight styles for the selected page */
.pagination button.active {
  background-color: #ff5733; /* Change to your desired active page color */
}

/* Adjust styles for mobile or smaller screens if needed */
@media (max-width: 768px) {
  .search-container {
    top: 3;
    right: 0;
    left: 2;
    width: 100%;
    border-radius: 0;
    
  }
}


/* Search Input */
.search-input {
  padding: 5px;
  /* border: 1px solid #ccc; */
  border-radius: 1px;
  font-size: 16px;
  margin-right: 10px;
  /* width: 300px; */
  border: none;
}
.filter-option{
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 1px;
  font-size: 13px;
  margin-right: 10px;
  width: 150px;
  border: none; 
}


/* Search Button */
.search-button{
  padding: 5px 10px;
  background-color: #333;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* Hover effect for the button */
.search-button:hover {
  background-color: #599feb; /* Darker blue color on hover */
}

/* pagination.css */

/* Horizontal layout for pagination */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

/* Style for individual page number */
.pagination li {
  margin: 0 5px; /* Adjust the margin as needed */
  cursor: pointer;
}

/* Style for the current/active page number */
.pagination li.active {
  font-weight: bold;
}